<div class="container">
    <div>
        <div class="selection">
            <p>Select which component you need</p>
        
            <select [(ngModel)]="selectedValue" >  
                <option value="0">--Select--</option>
                <option [value]="obj.Id" *ngFor="let obj of data">  
                    {{obj.Name}}  
                </option>
            </select>
        </div>
        
        <div class="selection">
            <p>Select the Gender</p>
            <select [(ngModel)]="ageValue">  
                <option [value]="age" *ngFor="let age of ages">{{age}}</option>
            </select>
        </div>
        <button (click)="onClick()">Click</button>

     <ng-template temp></ng-template>
        <hr>
        <div class='http'>
            <p>HTTP</p>
            <p>--------------------</p>
            <p>Getting all post Data</p>
            <p>--------------------</p>
        <button (click)="onClickApi()">Click</button>
            
            <!-- <ul *ngFor="let item of post">
                <li><span>Title :</span>{{item?.title}}, <span>Body :</span>{{item?.body}}</li>
            </ul> -->

            <table class="table" *ngIf="post">
                <thead>
                  <tr>
                    <th>Sl No.</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="data">
                    <tr *ngFor="let item of post; let i = index">
                        <td>{{item?.id}}</td>
                        <td>{{item?.title}}</td>
                        <td>{{item?.body}}</td>
                    </tr>
                </tbody>
              </table>
        </div>

        <hr>
        <div class='http'>
            <p>Post a postData</p>
            <p>--------------------</p>
            <form [formGroup]="postForm">
                <input type="text" placeholder="enter post id" formControlName="id">
                <input type="text" placeholder="enter post title" formControlName="title">
                <textarea type="text" placeholder="enter post description" formControlName="body"></textarea>
                <input type="text" placeholder="enter user id" formControlName="userId">
            </form>
            <button (click)="formSubmit()">Click</button>
        </div>
        <hr>
        <div class='http'>
            <p>Updating first postData</p>
            <p>--------------------</p>
            
            <button (click)="updateForm()">Click</button>
        </div>
    </div>
</div>



